.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.counter {
  gap: 2em;
  align-content: center;
  display: flex;
}

.align {
  align-items: center;
  align-content: center;
}

.w10{
  width: 20%;
}

.w30{
  width: 20%;
}

.w60{
  width: 60%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {
  height: 100%;
}
